<div class="container-footer w-100 d-flex align-items-center justify-content-center flex-column text-light">
	<div class="info-shop w-100 d-flex justify-content-between flex-row">
		<div class="address item-info-shop ahover">
			<h3 class="title-info">
				Address
			</h3>
			<p class="info">
				500 Terry Francois St.</br>
				San Francisco,</br>
				CA 94158
			</p>
		</div>	
		<div class="contact item-info-shop ahover">
			<h3 class="title-info">
				Contact
			</h3>
			<p class="info">
				info@mysite.com</br>
				Tel: 123-456-7890
			</p>
		</div>
		<div class="working-time item-info-shop ahover">
			<h3 class="title-info">
				Hours
			</h3>
			<p class="info">
				OPEN DAILY</br>
				10AM-10PM
			</p>
		</div>
		<div class="working-time item-info-shop ahover d-flex flex-column">
			<h3 class="title-info">MAILING LIST</h3>
			<input type="email" class="email-input" placeholder="Email@email.com">
			<button class="btn-menu btn-menu-2 text-uppercase broder-2 border-dark text-dark mt-2 btn-footer-hover">Subscribe</button>
		</div>
	</div>
	<div class="contact-footer w-100 d-flex justify-content-between flex-row">
		<div class="created-by d-flex justify-content-between flex-column align-items-center w-100">
			<p class="author">©2023 by Gelato. Proudly created with 
				<a href="" class="d-flex justify-content-center align-items-center text-dark ahover">
					<ion-icon name="logo-github" class="me-2 fs-4"></ion-icon>Nguyen Tien Dat
				</a>
			</p>
			<div class="social-media d-flex justify-content-end align-items-center">
				<ion-icon name="logo-facebook"></ion-icon>
				<ion-icon name="logo-twitter"></ion-icon>
				<ion-icon name="logo-instagram"></ion-icon>
			</div>
		</div>
	</div>
</div>	