{{! background hidden }}
<div class='bg w-100'></div>
{{! background hidden }}

{{! home start }}
<div class='home w-100'>
  <div
    class='introduce-1 w-100 d-flex align-items-center flex-column justify-content-center text-uppercase vh-100'
  >
    <p class='title-small fs-1'>HAND CRAFTED</p>
    <h3 class='title-big'>ICE CREAM</h3>
    <button class='btn-menu text-uppercase'>menu</button>
  </div>
  <div
    class='introduce-2 w-100 vh-100 w-100 d-flex align-items-center justify-content-center'
  >
    <div class='illustration w-50 h-100'></div>
    <div
      class='des w-50 h-100 d-flex flex-column align-items-center justify-content-center bg-white'
    >
      <h3 class='title-1 text-uppercase'>OUR FLAVORS</h3>
      <h4 class='title-2 mb-5'>Fresh n' Tasty!</h4>
      <p class='w-50 text-center mb-5'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation.
      </p>
      <button
        class='btn-menu btn-menu-2 text-uppercase broder-2 border-dark text-dark'
      >menu</button>
    </div>
  </div>
  <div
    class='introduce-1 bg-transparent w-100 d-flex align-items-center flex-column justify-content-center text-uppercase background-2 vh-100'
  >
    <p class='title-small fs-1'>ENJOY</p>
    <h3 class='title-big'>DAIRY FREE</h3>
    <button class='btn-menu text-uppercase'>menu</button>
  </div>
  <div
    class='introduce-2 w-100 vh-100 w-100 d-flex flex-row-reverse align-items-center justify-content-center'
  >
    <div class='illustration w-50 h-100 background-3'></div>
    <div
      class='des w-50 h-100 d-flex flex-column align-items-center justify-content-center bg-white'
    >
      <h3 class='title-1 text-uppercase'>OUR PLACE</h3>
      <h4 class='title-2 mb-5'>Ice cream by the sea</h4>
      <p class='w-50 text-center mb-5'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation.
      </p>
      <button
        class='btn-menu btn-menu-2 text-uppercase broder-2 border-dark text-dark'
      >read more</button>
    </div>
  </div>
  <div
    class='introduce-1 bg-transparent w-100 d-flex align-items-center flex-column justify-content-center text-uppercase background-2 vh-100'
  >
    <p class='title-small fs-1'>GET YOURS</p>
    <h3 class='title-big'>we deliver</h3>
    <button class='btn-menu text-uppercase'>order online</button>
  </div>
  <div
    class='introduce-2 w-100 vh-100 w-100 d-flex align-items-center justify-content-center'
  >
    <div class='illustration w-50 h-100 background-4'></div>
    <div
      class='des w-50 h-100 d-flex flex-column align-items-center justify-content-center bg-white'
    >
      <h3 class='title-1 text-uppercase'>DESSERTS</h3>
      <h4 class='title-2 mb-5'>Ice cream goodies</h4>
      <p class='w-50 text-center mb-5'>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
        tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
        veniam, quis nostrud exercitation.
      </p>
      <button
        class='btn-menu btn-menu-2 text-uppercase broder-2 border-dark text-dark'
      >menu</button>
    </div>
  </div>
  <div
    class='ice-cream-bg w-100 d-flex align-items-center justify-content-center'
  >
    <img
      src='https://static.wixstatic.com/media/baac51_ec98ba3fb62b4140be49e8c2fde05a73.png/v1/fill/w_1349,h_906,al_c,q_90,usm_0.66_1.00_0.01,enc_auto/baac51_ec98ba3fb62b4140be49e8c2fde05a73.png'
      alt='ice-cream'
    />
  </div>
  {{! slide }}
  <div class='slide bg-white'>
    <ion-icon name='caret-back-outline' class='icon-back'></ion-icon>
    <div class='view-slide'>
      <div
        class='img-slide'
        style="background-image: url('/public/imgs/01.jpg')"
      ></div>
      <div
        class='img-slide'
        style="background-image: url('/public/imgs/02.jpg')"
      ></div>
      <div
        class='img-slide'
        style="background-image: url('/public/imgs/03.jpg')"
      ></div>
      <div
        class='img-slide'
        style="background-image: url('/public/imgs/04.jpg')"
      ></div>
      <div
        class='img-slide'
        style="background-image: url('/public/imgs/05.jpg')"
      ></div>
      <div
        class='img-slide'
        style="background-image: url('/public/imgs/06.jpg')"
      ></div>
      <div
        class='img-slide'
        style="background-image: url('/public/imgs/07.jpg')"
      ></div>
      <div
        class='img-slide'
        style="background-image: url('/public/imgs/08.jpg')"
      ></div>
      <div
        class='img-slide'
        style="background-image: url('/public/imgs/09.jpg')"
      ></div>
    </div>
    <ion-icon name='caret-forward-outline' class='icon-next'></ion-icon>
  </div>
</div>
{{! home end }}
<script type='text/javascript' src='/public/javascript/home.js'></script>